body {
	background-color: lavenderblush;
	font-family: 'Segoe UI', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	margin: 0;
}

.card {
	background-color: white;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 300px;
}

h2 {
	margin: 10px 0;
	color: darkmagenta;
}

.bio {
	font-size: 14px;
	color: burlywood;
	margin-bottom: 20px;
}

.links {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 15px;
}
.links a {
	color: teal;
	font-weight: bold;
	text-decoration: none;
}
.links a:hover {
	text-decoration: underline;
}
