/* ************************* */
/* COMMON */
/* ************************* */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-image: url('assets/ripple-1.png'), url('assets/ripple-2.png');
	background-size: 200px;
	background-repeat: repeat-x;
	background-position: top left, bottom left;
	height: 100vh;
	text-align: center;
	font-family: "Hanalei Fill", system-ui;
	padding: 100px 0;
}

.btn {
	background-color: #0cc0df;
	color: white;
	border: none;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.2s;
}
.btn:hover {
	transform: scale(1.05);
}

/* ************************* */
/* HOME PAGE */
/* ************************* */

.home-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 140px;
}

button {
	font-family: "Hanalei Fill", system-ui;
}

/* ************************* */
/* ONBOARDING PAGE */
/* ************************* */
input {
	width: 300px;
	font-size: 30px;
	padding: 10px 20px;
	margin-bottom: 20px;
	text-align: center;
}

/* ************************* */
/* DASHBOARD PAGE */
/* ************************* */
.goal {
	width: 100%;
	background-color: rgb(216, 216, 216);
	height: 30px;
	border-radius: 15px;
	position: relative;
}

.progress {
	position: absolute;
	height: 100%;
	width: 10%;
	background-color: #0cc0df;
	border-radius: 15px;
}

.buttons {
	display: flex;
	width: 340px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px auto 0;
}

.buttons .btn {
	margin: 20px;
}

.logout {
	margin-top: 100px;
}

